@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
  min-height: 100%; 
  margin: 0; 
  background-image: linear-gradient(
    135deg,
    #000033 0%, 
    #004080 50%,
    #007399 100% 
  );
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover;
}
html {
  height: 100%; 
}
.react-calendar{
  width: 100%!important;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border: none;
}

.mhead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    #000033 0%, 
    #004080 50%,
    #007399 100%
  );
  height: 100vh;
  text-align: center;
}

.mhead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em!important;
}

.mhead h1.ui.header {
  font-size: 4em!important;
  font-weight: normal!important;
}

.mhead h2 {
  font-size: 1.7em!important;
  font-weight: normal!important;
}
.App{
  padding: 10rem;
}
.ui.message .list .item {
  display: block;
}
.login {
  
 
padding: 4% 0 0;
margin: auto;
font-family: 'Comfortaa', cursive;
}
.react-datepicker-wrapper{
  width: 100%;
}

.login .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 1000px;
  
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.login .form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.login .form input:focus {
  background: #dbdbdb;
}

.login .form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login .form button:active {
  background: #395591;
}

.login .form span {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
}

.login .form p.error {
  margin: 0 0 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}
.ui.comments {
  max-width: 950px; 
}
.image-wrapper {
  display: inline-block; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  font-size: 24px;
  visibility: hidden;
  pointer-events: none;
}

.image-wrapper:hover .image-overlay {
  opacity: 1;
  visibility: visible;
}
.ui.segment {
  background-color: #2a3f54; 
  color: #d1e8ff; 
  border: none; 
}


.ui.segment.secondary {
  background-color: #3d556e;
  color: #a7c0d9;
}


.ui.segment.clearing {
  background-color: #2a3f54; 
  color: #d1e8ff;
  padding: 1em; 
}


.ui.icon {
  color: #a7c0d9;
}


.ui.button {
  background-color: #415a77;
  color: #ffffff;
  border: none; 
}

.ui.button:hover {
  background-color: #2a3f54; 
}



.action-link a {
  color: #0000EE; 
  text-decoration: none; /* Removes underline from link */
}

.action-link a:hover {
  text-decoration: underline; /* Adds underline on hover */
  color: #FF4500; 
}










.ui.segment.attached {
  background-color: #2a3f54; /* A dark background that fits the theme */
  color: white; /* Making the text color white for readability */
  border: none;
}
